*{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 600;
    color: #20F0F1;
    text-decoration: none;
}
header{
    padding: 0 1%;
    background-color: transparent;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    /**position: relative;**/
}
h1{
    
    font-family: "pacifico";
    font-size: 40px;
    background: -webkit-linear-gradient(0deg, #20F0F1, #F98EF7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
a.option{
    transition: 0.5s;
}
a.option:hover,
a.option:active{
    color: #F98EF7;
    text-shadow: 0px 0px 20px #F98EF7;
}
