*{
    font-size: 25px;
    font-weight: 600;
    color: #20F0F1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 100;
}

nav{
    display: flex;
    align-items: center;
}

a#principal{
    font-size: 35px;
}

a.option{
    transition: .5s;
}

a.option:hover,
a.option:active{
    color: #F98EF7;
}
