<header>
    <h1> Klenio Albuquerque</h1>
    <nav>
        <a class="option" [routerLink]="['/projects']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Projetos</a>
        <a class="option" [routerLink]="['/about']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Sobre</a>
        <a class="option" [routerLink]="['/']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Contato</a>
    </nav>
</header>