footer{
    padding: 0 1%;
    display: flex;
    justify-content: flex-end;
}
div.socials{
    display: flex;
    align-items: center;
    margin: 1% 16%;
}
a{
    text-decoration: none;
}
i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2.5px solid #20F0F1;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 35px;
    color: #20F0F1;
    margin-inline: 15px;
    transition: 0.5s ease;
}

i:hover{
    background-color: #F98EF7;
    color: #0E1213;
    box-shadow: 0 0 20px #F98EF7;
    border-color: #F98EF7;
}
