<footer>
    <div class="socials">
        <a href="https://www.instagram.com/kl_albuquerque" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.linkedin.com/in/klenioalbuquerque/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://github.com/klenio92" target="_blank"><i class='bx bxl-github'></i></a>
        <a href="https://api.whatsapp.com/send/?phone=5584998494366&text&type=phone_number&app_absent=0" target="_blank"><i class='bx bxl-whatsapp'></i></a>
    </div>
</footer>
