<main>
    <section>
        <div class="conteudo">
            <h1> Titulo de alguma coisa </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Harum, quis dicta debitis impedit aut nostrum asperiores quas praesentium,
                  possimus excepturi consequuntur consequatur. Esse facilis veritatis quae ab non.
                   Voluptatibus, molestiae?</p>
        </div>
        <div class="foto">
            <img src="../../assets/novomodelo768v2.png" width="536px" height="630px">
        </div>
    </section>
</main>