main{
    padding: 0 25px;
    display: flex;
    align-items: center;
}
img{
    animation: floating 4s ease-in-out infinite;
    animation-delay: 5s, 5s;
    width: 75%;
    height: 75%;
    padding: 1%;
}
section.foto{
    padding-left: 10%;
}
section.conteudo{
    box-sizing: border-box;
    height: 400px;
    width: 600px;
    padding: 2%;
    align-items: center;
    background-color: #007FFF;

    
    border-radius: 25px;
}
h1{
    background-color: #00b7ff;
    font-size: 60px;
    font-weight: 900;
    text-align: center;  
}
p{
    background-color: #00ff73;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    padding: 3%;
}
@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}