main{
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
img{
    animation: floating 4s ease-in-out infinite;
    animation-delay: 5s, 5s;
}
section.foto{
    display: flex;
    padding: 1%;
}
section.conteudo{
    height: 630px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    background-color: #00b7ff;
    font-size: 60px;
    font-weight: 900;
    text-align: center;  
}
p{
    background-color: #00ff73;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    padding: 2%;
}
@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}