body{
    height: 100vh;
    background-image: url('assets/final.jpg');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(169, 169, 169, 0.075);
}
